.container-fluid{
    background-image:url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
}

.card-header{
    color:rgb(255, 255, 255);
    font-size: 30px;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(61, 61, 61, 0.75);
}
.header{
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(34, 34, 34, 0.2);
    color: white;
}
.hg{
    height: 500px;
    margin:5px;
    box-shadow: 9px 3px 27px -2px rgba(32, 32, 32, 0.84);
    font-weight: 500;
    transition: 0.3s ease-in-out;
    background-image:url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
}
.card:hover{
    translate:0 -10px;  
}
.card:hover .carditem{
    color: rgb(255, 255, 255);
}
.outs{
    font-size: 40px;
    color: rgb(248, 248, 248);
    align-items: center;
    padding:15px;
    border-radius: 5px;
    visibility: hidden;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(34, 34, 34, 0.2);

}

.card-footer{
    visibility: hidden;
    
}
.card:hover .card-footer{
    visibility: visible;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(34, 34, 34, 0.2);
    
}
.card:hover .card-footer .btns{
    align-items: center;
    color: rgb(255, 255, 255);
    outline: none;
}




